<ion-header>
  <ion-navbar color="primary">
    <ion-title>Reddit News</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <ion-thumbnail *ngIf="post.data.thumbnail" item-left>
        <img src="{{ post.data.thumbnail }}" />
      </ion-thumbnail>
      <h2 padding-bottom>{{ post.data.title }}</h2>
      <p>
        <ion-icon name="thumbs-up">{{ post.data.score }}</ion-icon>
        <ion-icon name="chatboxes" padding-left>{{ post.data.num_comments }}</ion-icon>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
